# Load Reference Data
## Includes all conditions of wgs samples

Dataset - Cohort : WGS, Concept : All conditions

In [2]:
import pandas
import os

# This query represents dataset "All_WGS" for domain "condition" and was generated for All of Us Controlled Tier Dataset v6
dataset_02785573_condition_sql = """
    SELECT
        c_occurrence.person_id,
        c_occurrence.condition_concept_id,
        c_standard_concept.concept_name as standard_concept_name 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.condition_occurrence` c_occurrence 
        WHERE
            (
                condition_concept_id IN  (
                    SELECT
                        DISTINCT c.concept_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                    JOIN
                        (
                            select
                                cast(cr.id as string) as id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr 
                            WHERE
                                concept_id IN (
                                    4101343, 4086181, 4000610, 4022923, 4091532, 4024013, 4006969, 201891, 4028076, 376106, 4090426, 4134294, 4297887, 4021667, 4199402, 444089, 4101212, 4022922, 4175154, 4179167, 437515, 4000609, 40480457, 376337, 4269314, 4083787, 138239, 4002905, 4054501, 4047779, 134057, 4020346, 4021915, 200174, 37018424, 4041436, 321588, 373499, 4009890, 4117779, 4170962, 4038678, 200452, 4168335, 31610, 441542, 4023995, 436670, 4201745, 43530815, 4100932, 37206233, 4094294, 440371, 4038677, 443343, 4198525, 443723, 4190185, 4028387, 4317258, 134736, 4091363, 320128, 4132555, 4212577, 40484102, 75909, 133468, 4011630, 4181063, 4150129, 135930, 4022201, 4038502, 444100, 4301699, 4043671, 4096864, 4180154, 40481841, 40484533, 4179873, 255919, 4080992, 4024000, 4180170, 4318379, 432867, 4267789, 4316083, 4260918, 432586, 4134440, 4113563, 4277352, 4024561, 4185640, 443883, 4293175, 443784, 4093991, 440383, 254068, 4266186, 4027384, 4022924, 4095793, 4184252, 140190, 4081176, 4178818, 444363, 4043371, 4182633, 254761, 4339468, 435524, 4102111, 4043346, 193460, 4115390, 4304916, 4213101, 4042140, 43531056, 43531057, 4042503, 444112, 4302537, 4024567, 4002898, 4178680, 4071689, 4182165, 37203927, 77960, 4115259, 4042056, 37018713, 4024566, 443783, 4116811, 141960, 44782620, 4103352, 4244662, 43531054, 435506, 138525, 4276572, 4308811, 4093227, 4162282, 43021226, 4180169, 201618, 37311678, 433128, 4170143, 4051221, 4179871, 4170226, 4185503, 4091213, 4103320, 43531053, 75865, 4093228, 4031814, 4247371, 73553, 4027553, 4200532, 4025215, 442077, 37311677, 440029, 433736, 440921, 4178545, 200219, 4115386, 375252, 40481517, 4221108, 4021780, 4181187, 444108, 432795, 4305027, 77074, 432250, 316866, 42538830, 4041285, 320136, 4329041, 4274025, 4042837, 4182161, 4197094, 376208, 4132926, 4276569, 44783587, 43531060, 253549, 4206591, 4227253, 4028071, 4309188, 4041284, 4113999, 4117930, 4160062, 192438, 4042836, 4180628, 4104157, 4171379, 4042142, 4338120, 77670, 440142, 43531059, 4179141, 4090614, 44784102, 318800, 4041283, 43530877, 436096, 4042505, 4042835, 40484935, 4013518, 4272867, 79106, 4042141, 31821, 43531058, 4103183, 4090615, 4101796, 4208786, 4344497, 80180, 4339410, 438112
                                ) 
                                AND full_text LIKE '%_rank1]%'
                        ) a 
                            ON (
                                c.path LIKE CONCAT('%.',
                            a.id,
                            '.%') 
                            OR c.path LIKE CONCAT('%.',
                            a.id) 
                            OR c.path LIKE CONCAT(a.id,
                            '.%') 
                            OR c.path = a.id) 
                        WHERE
                            is_standard = 1 
                            AND is_selectable = 1
                        )
                )  
                AND (
                    c_occurrence.PERSON_ID IN (
                        SELECT
                            distinct person_id  
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                        WHERE
                            cb_search_person.person_id IN (
                                SELECT
                                    person_id 
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                                WHERE
                                    has_whole_genome_variant = 1 
                            ) 
                        )
                )
            ) c_occurrence 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` c_standard_concept 
                ON c_occurrence.condition_concept_id = c_standard_concept.concept_id"""

dataset_02785573_condition_df = pandas.read_gbq(
    dataset_02785573_condition_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

dataset_02785573_condition_df.head(5)

Downloading:   0%|          | 0/21251938 [00:00<?, ?rows/s]

   person_id  condition_concept_id        standard_concept_name
0    1599478                 23986  Disorder of pituitary gland
1    3157809                260123              Acute sinusitis
2    2553865                260123              Acute sinusitis
3    2776370               4205811          Paresthesia of hand
4    1506045                260123              Acute sinusitis

In [3]:
import pandas
import os

# This query represents dataset "All_WGS" for domain "person" and was generated for All of Us Controlled Tier Dataset v6
dataset_02785573_person_sql = """
    SELECT
        person.person_id,
        p_gender_concept.concept_name as gender,
        person.birth_datetime as date_of_birth,
        p_race_concept.concept_name as race,
        p_ethnicity_concept.concept_name as ethnicity,
        p_sex_at_birth_concept.concept_name as sex_at_birth 
    FROM
        `""" + os.environ["WORKSPACE_CDR"] + """.person` person 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_gender_concept 
            ON person.gender_concept_id = p_gender_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_race_concept 
            ON person.race_concept_id = p_race_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_ethnicity_concept 
            ON person.ethnicity_concept_id = p_ethnicity_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_sex_at_birth_concept 
            ON person.sex_at_birth_concept_id = p_sex_at_birth_concept.concept_id  
    WHERE
        person.PERSON_ID IN (
            SELECT
                distinct person_id  
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
            WHERE
                cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 
                ) 
            )"""

dataset_02785573_person_df = pandas.read_gbq(
    dataset_02785573_person_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

dataset_02785573_person_df.head(5)

Downloading:   0%|          | 0/98553 [00:00<?, ?rows/s]

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth
0,1179190,Gender Identity: Non Binary,1986-06-15 00:00:00+00:00,None of these,What Race Ethnicity: Race Ethnicity None Of These,Intersex
1,1896764,Gender Identity: Additional Options,1965-06-15 00:00:00+00:00,None Indicated,Hispanic or Latino,Intersex
2,1547381,PMI: Skip,1983-06-15 00:00:00+00:00,None Indicated,Hispanic or Latino,Intersex
3,1278546,Female,1993-06-15 00:00:00+00:00,None Indicated,Hispanic or Latino,Intersex
4,3008331,Male,1997-06-15 00:00:00+00:00,None Indicated,Hispanic or Latino,Intersex

In [11]:
all_person_df = dataset_02785573_person_df
all_condition_df = dataset_02785573_condition_df

# Load & Process Selected Samples

In [12]:
# load random sample data set
import pandas as pd

## allele output from all sample sets
df = pd.read_csv("/home/jupyter/workspaces/multiallelicgenesinvestigation/sample_id_for_set1234.csv", header = 0, index_col = 0)
selected_sample = list(df['person_id'])

In [13]:
## date of birth to age
from datetime import datetime, date
import numpy as np

def age(born):
    today = date.today()
    return today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))

In [14]:
## Include only selected samples 
isin_filter = all_person_df['person_id'].isin(selected_sample)
person_df_isin = all_person_df[isin_filter]
person_df_isin = person_df_isin.sort_values(['person_id'])

age_list = []
for i in person_df_isin['date_of_birth']:
    age_list+= [age(i)]

person_df_isin.drop('date_of_birth', axis = 1, inplace = True)
person_df_isin['age'] = age_list
print(person_df_isin.shape)


isin_filter = all_condition_df['person_id'].isin(selected_sample)
condition_df_isin = all_condition_df[isin_filter]
condition_df_isin = condition_df_isin.sort_values(['person_id'])
print(condition_df_isin.shape)

(2283, 6)
(2455943, 3)

In [ ]:
# from collections import Counter
# print(Counter(person_df_isin['race']))
# print()
# print(Counter(person_df_isin['ethnicity']))
# print()
# print(Counter(person_df_isin['sex_at_birth']))

# Export person data & concept data
Export person_df and condition_df of sample set 
(not necessory to proceed. person_data.csv and concept_data.csv are not used in any codes)

In [7]:
##### WRITING #####
# person_df_isin.to_csv("/home/jupyter/workspaces/multiallelicgenesinvestigation/OUTPUT_SET_n/person_data.csv")
# condition_df_isin.to_csv("/home/jupyter/workspaces/multiallelicgenesinvestigation/OUTPUT_SET_n/concept_data.csv")

# Processing
Skip/Prefer not to answer/.. = "None Indicated"

In [15]:
import warnings
warnings.filterwarnings('ignore')

person_df = person_df_isin[['person_id','sex_at_birth','race','ethnicity','age']]
person_df['race'] = person_df['race'].replace('PMI: Skip', 'None Indicated')
person_df['race'] = person_df['race'].replace('I prefer not to answer', 'None Indicated')


person_df['ethnicity'] = person_df['ethnicity'].replace('PMI: Skip', 'None Indicated')
person_df['ethnicity'] = person_df['ethnicity'].replace('PMI: Prefer Not To Answer', 'None Indicated')
person_df['ethnicity'] = person_df['ethnicity'].replace('What Race Ethnicity: Race Ethnicity None Of These', 'None of these')

person_df['sex_at_birth'] = person_df['sex_at_birth'].replace('PMI: Skip', 'None Indicated')
person_df['sex_at_birth'] = person_df['sex_at_birth'].replace('No matching concept', 'None Indicated')


concept_df = condition_df_isin[['person_id','condition_concept_id','standard_concept_name']]

person_id = list(set(concept_df['person_id']))
concept_id = list(set(concept_df['condition_concept_id']))

# Export Matrix

In [16]:
person_id = list(set(concept_df['person_id']))
concept_id = list(set(concept_df['condition_concept_id']))

# Phenotype Matrix (Input)
Phenotype_df = pd.DataFrame(index = person_id, columns = concept_id)
Phenotype_df = Phenotype_df.fillna(0)

In [17]:
Phenotype_df

,4161540,196613,196620,196625,4161569,196653,196654,4325423,4030513,4030518,...,4194210,196523,4292525,4226991,4063155,4161462,4161463,4292547,196569,4325344
2048004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2244614,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1695760,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1482769,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2981905,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1990648,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1220601,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1974266,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1286139,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
## this may take a few minutes
for i in range(concept_df.shape[0]):
    ID = concept_df.iloc[i]['person_id']
    CONCEPT = concept_df.iloc[i]['condition_concept_id']
    
    Phenotype_df.loc[ID,CONCEPT] += 1

In [19]:
Phenotype_df

,4161540,196613,196620,196625,4161569,196653,196654,4325423,4030513,4030518,...,4194210,196523,4292525,4226991,4063155,4161462,4161463,4292547,196569,4325344
2048004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2244614,0,0,0,0,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,0
1695760,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1482769,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2981905,0,0,0,0,0,0,0,0,0,0,...,0,5,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1990648,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1220601,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1974266,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1286139,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Add clustering column for stratification / add other features

In [20]:
p = Phenotype_df.index.to_list() #phenotype_df person_id 정렬상태

# cluster = pd.DataFrame(person_df[["sex_at_birth","race","ethnicity"]].agg('-'.join,axis=1),columns=['cluster'])#phenotype_df에 추가해야할 cluster column (gender+race)
# cluster.index = list(person_df['person_id'])
# cluster.reindex(p)
# Phenotype_df['cluster'] = cluster

sex_at_birth = person_df[["sex_at_birth"]]
sex_at_birth.index = list(person_df['person_id'])
sex_at_birth.reindex(p)
Phenotype_df['sex_at_birth'] = sex_at_birth


race = person_df[["race"]]
race.index = list(person_df['person_id'])
race.reindex(p)
Phenotype_df['race'] = race


ethnicity = person_df[["ethnicity"]]
ethnicity.index = list(person_df['person_id'])
ethnicity.reindex(p)
Phenotype_df['ethnicity'] = ethnicity


age = person_df[["age"]]
age.index = list(person_df['person_id'])
age.reindex(p)
Phenotype_df['age'] = age

In [21]:
# ### WRITING ####
# Phenotype_df.to_csv("/home/jupyter/workspaces/multiallelicgenesinvestigation/cardiovascular_phenotype_df_for_set1234.csv")
Phenotype_df.to_csv("/home/jupyter/workspaces/multiallelicgenesinvestigation/all_phenotype_df_for_set1234.csv")

In [22]:
Phenotype_df.shape

(2283, 12290)